:root {
    --primary-color: #fff;
    --button-background: #006A50;
    --secondary-background-color: rgba(9, 161, 92, 0.2);
    --font-dark-1-color: rgba(0, 0, 0, 0.5);
    --font-dark-2-color: rgba(0, 0, 0, 0.7);
}

body {
    background: #f4f4f4;
}

.gray {
    color: var(--font-dark-2-color);
}

.every-heading {
    font-size: 2.7rem;
    margin-top: 4rem;
}

.card-p {
    font-size: 1.1rem;
}

.btn {
    color: var(--primary-color);
    background-color: var(--button-background);
    border-radius: 8px;
    border: none;
    padding: .8rem 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.7s ease;
}


.btn:hover {
    background-color: var(--primary-color);
    color: var(--button-background);
    border: 2px solid var(--button-background);

}

input:focus{
    outline: none;
    border: none;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 85%;
    margin: auto;
}

nav {
    margin-top: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-weight: 600;
    font-size: 1.9rem;
}

nav button {
    padding: .8rem 1.7rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid var(--button-background);
    background: none;
    color: var(--button-background);
    transition: all 0.7s ease;
    font-weight: 550;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--button-background);
    color: var(--primary-color);

}


/* banner */

.banner-container {
    min-height: 500px;
    background-color: var(--secondary-background-color);
    margin-top: 2.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.9rem;
}


.banner-contain {
    width: 50%;
}

.banner-contain p {
    color: var(--font-dark-1-color);
    font-size: 1.5rem;
}

.banner-contain h2 {
    font-weight: 700;
    font-size: 3.9rem;
    margin: .6rem 0 1.2rem 0;
}

/* main */

main {
    width: 85%;
    margin: auto;
}

/* pillars section */



.pillars-container {

    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;

}


.pillar {

    width: 250px;
    background: #fff;
    padding: 1.5rem;
    border-radius: 20px;
}

.pillar h3 {
    font-size: 1.5rem;
    margin: .8rem 0 .6rem 0;
}

/* the vision of future */

.vision-of-future p {
    margin-top: 1.7rem;
    color: var(--font-dark-1-color);
}


.vision-container {
    margin-top: 2.1rem;
    display: flex;
    justify-content: space-between;
}

.vision-card {
    position: relative;
    width: 378px;
    height: 300px;
    border-radius: 19px;
    padding: 1.7rem .9rem 0rem 1.7rem;


}


.transformation {
    /*  single card color design*/

    background-color: rgba(84, 144, 245, 0.2);

}

.transformation button {

    background-color: #5490F5;

}


.energy {
    /*  single card color design*/
    background-color: rgba(9, 161, 92, 0.2);
}

.energy button {
    background-color: #09A15C;
    margin-top: 2.2rem;
}

.infrastructure {
    /*  single card color design*/
    background-color: rgba(255, 194, 57, 0.2);
}

.infrastructure button {
    background-color: #FFC239;
    margin-top: 2.2rem;
}

.vision-card h3 {
    font-size: 1.4rem;
    margin: .8rem 0;
    font-weight: 800;
}

.vision-card p {
    font-size: 1.2rem;
    color: var(--font-dark-2-color);
}


.vision-card button {
    color: var(--primary-color);
    border: none;
    font-size: 1.1rem;
    position: absolute;
    padding: .7rem 1.1rem;
    border-radius: 11px;
    bottom: .8rem;
    margin-bottom: 1rem;
}


/* description Section */

.description {

    height: 200px;
    background: url(./assets/quote-bg.png) no-repeat top 1.2rem left 2.7rem, #fff;
    margin: auto;
    margin-top: 2rem;
    padding: 2.9rem 1.6rem 1.2rem 2.6rem;
    border-radius: 12px;

}

.description p {


    font-size: 1.2rem;
    line-height: 1.3rem;
    word-spacing: .3rem;
    color: var(--font-dark-2-color);
}

.description h3 {

    font-size: 1.4rem;
    margin-top: 1.5rem;
}

/* opinion */

.opinion-container {
    background-color: var(--primary-color);

    padding: 30px;
    border-radius: 12px;
    margin-top: 2.6rem;
}

.opinion-contain {
    overflow: hidden;
}

.opinion-heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--secondary-background-color);
    padding: 1.2rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;

}

.opinion-details {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.opinion-p {
    padding: 1.9rem 20.9rem 1.9rem 1.9rem;

    font-size: 1.2rem;
    font-weight: 700;
}

.select-box {
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    padding: .9rem 1.2rem;
    display: flex;
    align-items: center;
}

select {
    font-size: .9rem;
    font-weight: 600;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: .5rem 0 .5rem .6rem;
    width: 150px;
}

/* recent news */

.recent-news P {
    margin-top: 1.7rem;
    color: var(--font-dark-1-color);
}


/* satellite */
.satellite-container {
    display: flex;
    gap: 2.2rem;
    padding: 3.9rem;
    background-color: var(--primary-color);
    border-radius: 25px;
    margin-top: 2.2rem;
}

.satellite-container img {
    border-radius: 15px;
}

.satellite-details h3 {

    font-size: 2.2rem;
    margin-top: .6rem;
    font-weight: 700;
}

.satellite-details img {
    margin-top: .5rem;
    display: block;
}

.satellite-details .span {
    margin-top: .8rem;
    display: flex;
    gap: 1.2rem;
}

.satellite-container button {
    margin-top: 2.2rem;
}

/* donate */

.donate {
    width: 90%;
    text-align: center;
    margin: auto;
}

.donate p {
    margin-top: 1.5rem;
}

/* donate card */

.donate-container {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.donate-card {
    width: 200px;
    background-color: var(--primary-color);
    padding: 2.2rem;
    border-radius: 19px;
    font-weight: 900;
}

.green {
    background-color: var(--secondary-background-color);
}

.input-form {

    width: 90%;
    background-color: var(--primary-color);
    margin: auto;
}

form {
    margin-top: 1.9rem;
}

form input {

    padding: 1.4rem;
    border: none;
    font-size: 1.5rem;
    color: var(--secondary-background-color);
}

.donate button {
    margin-top: 2.2rem;
    padding: 1.2rem 2.2rem;
}

/* subscribe section */

.subscribe-container {
    background-color: var(--secondary-background-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    padding-bottom: 5.3rem;
    padding-top: 1.3rem;
}

.subscribe-contain {
    width: 50%;
    text-align: center;
}

.subscribe-contain p {
    margin-top: 1.2rem;
}

/* form email */

.input-email {
    margin-top: 1.2rem;
    display: flex;
    gap: 0px;

}

.input-email input {
    border: none;
    padding: 1.2rem;
    width: 550px;
    border-radius: 12px 0 0 12px;
    text-align: left;
    font-size: 1.2rem;
    display: inline;

}

.input-email button {
    border-radius: 0 12px 12px 0;
    padding: 1.2rem;
    border: none;
    background-color: var(--button-background);
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.subscribe-container p {
    margin-top: 2.2rem;
}


/* footer */

footer {
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    height: 210px;
}

hr {
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;

}

footer h3 {
    padding-top: 3.2rem;
    margin-bottom: 1.2rem;
}

.social-container {
    margin-top: 1.2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.social-container img{
    cursor: pointer;
}